
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   font-size: 62.5%;
}
.nav{
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    /* border:.2rem solid red; */
    padding: 1em 0em 1em 0em;
}
main{
    top: 0;
    background-color: rgba(249 243 246);
}
.logo{
    display: flex;
    flex-direction: column;
    /* border:.2rem solid red; */
    margin-left: 2rem;
}
/* ._2FZvZO{
    margin:0em 0em 0em 5.3em;
    border:.2rem solid red ;
} */
li{
    list-style: none;
   margin: 0.6em;
   font-size: 2.5rem;
    /* border:.2rem solid red; */
}
.listofnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0em 11em 0em 0em;
}
/* .searchbar{
    border:.2rem solid red;
    
} */
input{
    /* border: .2rem solid red; */
    font-size: 2rem;
    width:90rem;
    height: 6rem;
    /* margin: 0em 17.5em 0em 0em; */
    border-radius: 1.5rem;
    background-color: #7f546c21;
}
.YLCOuy_3-rS5G{
    padding:0em 0em 0em 1.2em;
}
.itemdetail{
    display: flex;
    padding: 2rem;
}
.itemimagedisplay{
    border: .2rem solid red;
    height: 80vh;
    width: 35%;
    margin: 2rem;
    position: sticky;
    top: 1rem;
}
.containerofitemimage{
    border: .2rem solid red;
    margin: .1rem;
    height: 65%;
}
.addtocartandbuynow{
    display: flex;
    margin: .1rem;
    justify-content: space-around;

}
.buynow,.addtocart{
    border: .2rem solid red;
    height: 5rem;
    width: 30rem;
    text-align:center;
    padding:1.5rem;
    font-size: 1.4em;
    font-weight: bolder;
    overflow: hidden;
}
.itemspecification{
    border: .2rem solid red;
    height:200vh;
    width: 60%;
}